<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <title>Go Solar Mexico - Mobile</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/Content/fonts/Linearicons/LinearFont.css" />
    @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Html.Partial("_html5shiv")    
    @Styles.Render("~/Content/foundationcss")
    @Styles.Render("~/Content/mobileCss")
    @*@Styles.Render("~/Content/linearFont")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/foundationscript")
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <script src="~/Scripts/less-1.5.1.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body>
 <div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar bg-primary">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon toggle-topbar" href="#"><span></span></a>
        <a class="icn-sm icn-arrow-left" href="#"></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">@User.Identity.Name</h1>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
        <header class="bg-secondary">
            <hgroup>
                <h1>User Name</h1>
                <h3>@User.Identity.Name</h3>
            </hgroup>
        </header>
        <ul class="off-canvas-list">            
            <li><a href="#" class="change-password"><span class="icn-sm icn-lock"></span>Cambiar contraseña</a></li>
            <li><a href="#"><span class="icn-sm icn-settings"></span>Ajustes</a></li>
            <li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a class="list-group-item" href="javascript:document.getElementById('logoutForm').submit()"><span class="icn-sm icn-logout"></span><span>Cerrar sesion</span></a>
                    }
      
        </ul>
    </aside>

    <section class="main-section">
      <!-- content goes here -->
        
        @RenderBody()
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>
    <!-- Modals zone -->
    <div id="changePasswordModal" class="reveal-modal small change-password-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Cambiar contraseña</h2>
        @*<div data-alert class="alert-box info">
          <p>Por favor escriba su direccion de correo electronico, despues de presione el boton "Recuperar", usted recibira un correo electronico con las instrucciones para recuperar su contraseña</p>
          <a href="#" class="close">&times;</a>
        </div>*@
        @Html.Partial("~/Views/Partials/_ChangePasswordPartial.cshtml")
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    <!-- -->
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/gosolarMobile")
</body>
    <script>
        
        $(document).foundation({});
        GosolarApp.Home.Init();
    </script>

</html>
