<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8" />
    <title>Go Solar Mexico - Mobile</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Html.Partial("_html5shiv")    
    @Styles.Render("~/Content/bootstrapcss")    
    @Styles.Render("~/Content/Styles/mobileangularcss")
    @Styles.Render("~/Content/mobileCss")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularcore")
    @Scripts.Render("~/bundles/angularcomponents")
    
    <script src="~/Scripts/less-1.5.1.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
        var app = angular.module('mobileApp', ['ngRoute']);
    </script>
</head>
<body ng-app="mobileApp" class="body-login">

    <div id="body" class="ng-scope has-navbar-top has-navbar-bottom has-sidebar-left has-sidebar-right">
        

        <div class="app" ng-swipe-right="Ui.turnOn(&quot;uiSidebarLeft&quot;)" ng-swipe-left="Ui.turnOff(&quot;uiSidebarLeft&quot;)">
            <div class="app-body" ng-class="{loading: loading}">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
