<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Go Solar Mexico - Login </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Html.Partial("_html5shiv")    
    @Styles.Render("~/Content/bootstrapcss")    
    @Styles.Render("~/Content/mobileCss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
   
    <script src="~/Scripts/less-1.5.1.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body class="body-login">

    <div id="body">
                @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
