@model WebApp.Models.LoginModel
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
@*<div class="container">
    <div class="row" style="text-align: center; color: white">
        <hgroup>
            <h2>@ViewBag.Title</h2>
        </hgroup>
    </div>
</div>*@

<section class="container" style="text-align: center">
    <div class="row">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div style="color: white">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div>
                @Html.TextBoxFor(m => m.UserName)
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.UserName, "Requerido")
            </div>
            <div style="margin-top: 10px; color: white">
                @Html.LabelFor(m => m.Password)
            </div>
            <div>
                @Html.PasswordFor(m => m.Password)
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Password, "Requerido")
            </div>           
            <div style="margin-top: 20px">
                <button class="btn btn-lg btn-primary" type="submit" style="width: 200px">Entrar</button>
            </div>    
            <div style="margin-top: 10px">
                <a style="color:white" href="@Url.Action("Register", "Account")">Crea tu cuenta</a>
            </div>       
        }
    </div>
</section>
@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
