@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
<section class="full-grid">				
	<ul class="slide-orbit" data-orbit data-options="animation:slide;
                  pause_on_hover:true;
                  animation_speed:500;
                  navigation_arrows:true;
                  bullets:false;">
        <li>
			@*<img src="Images/slide1.jpg" alt="Slide 1"/>*@
            <span class="slide volante"></span>
			<div class="orbit-caption">
                <h2>Slide caption 1</h2>
			</div>
		</li>
		<li>
			<img src="Images/slide2.jpg" alt="Slide 2"/>
            @*<span class="slide volante1"></span>*@
			<div class="orbit-caption">
                <h2>Slide caption 2</h2>
			</div>
		</li>
        <li>
			<img src="Images/slide3.jpg" alt="Slide 3"/>
			<div class="orbit-caption">
				<h2>Slide caption 3</h2>
	        </div>
		</li>
		<li>
			<img src="Images/slide4.jpg" alt="Slide 4"/>
			<div class="orbit-caption">
				<h2>Slide caption 4</h2>
	        </div>
		</li>
		<li>
			<img src="Images/slide5.jpg" alt="Slide 5"/>
			<div class="orbit-caption">
				<h2>Slide caption 5</h2>
	        </div>
		</li>
    </ul>
</section>
<div id="mainDiv" class="container-fluid main-menu">
    <div class="row">
        <div class="small-6 medium-6 large-6 left">
            <a href="@Url.Action("Index", "Team")" class="th">
                <span class="lnr lnr-users"></span>
                <label>Mis referidos</label>
            </a>
        </div>
        <div class="small-6 medium-6 large-6 left">
            <a href="@Url.Action("Index", "Map")" class="th bg-primary">
                <span class="lnr lnr-map-marker"></span>
                <label>Ubicacion</label>
            </a>
        </div>
        <div class="small-6 medium-6 large-6 left">
            <a href="@Url.Action("Index", "Rewards")" class="th bg-primary">
                <span class="lnr lnr-gift"></span>
                <label>Mis recompensas</label>
            </a>
        </div>
        <div class="small-6 medium-6 large-6 left">
            <a href="#" class="th">
                <span class="lnr lnr-picture"></span>
                <label>Ajustes</label>
            </a> 
            @*<a href="@Url.Action("NewReferral", "Team")">
                <span class="icn icn-add"></span>
            </a>*@
        </div>
       @* @if (User.IsInRole("Admin"))
        {
            *@<div class="small-6 medium-6 large-6 left">
                <a href="@Url.Action("Index", "Panel")" class="th">
                    <span class="lnr lnr-cog"></span>
                    <label>Administrar</label>
                </a>
            </div>   
        @*}*@
    </div>
</div>
